.sidebar {
  height: 100%;
  width: 150px;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
  background-color: #252a36;
  text-align: center;
  box-shadow: 2px 7px 20px 1px #464f65;
  color: white;
}
.main-content {
  text-align: center;
  margin-left: 200px;
  padding: 20px;
}
.main-content th {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-collapse: collapse;
}
.main-content table {
  width: 100%;
}
.tabellaRow {
  background-color: rgba(128, 128, 128, 0.263);
}
.sidebar a {
  margin-bottom: 0 ;
  padding-bottom: 0 ;
  text-decoration: none ;
  color: aliceblue ;
}
.sidebar hr {
  width: 60%;
  border: solid 0.5px ;
  margin-bottom: -20px ;
  border-color: #1f1f1f ;

  transition: width 0.5s ;
}
.sidebar a:hover hr {
  width: 100% ;
  border-color: aliceblue ;
}
.hrActive {
  width: 100% !important;
  border-color: aliceblue !important;
}
.sidebar form {
  position: fixed !important;
  bottom: 0 !important;
  margin-bottom: 20px !important;
  text-align: center !important;
}
.sidebar form input {
  background-color: transparent !important;
  color: aliceblue !important;
  margin: 0 auto !important;
  border: solid 1px #1f1f1f !important;
  border-radius: 10px !important;
  padding: 5px !important;
  width: 150px !important;
  transition: background-color 1s !important;
}

.sidebar form input:hover {
  background-color: aliceblue !important;
  color: #1e222b !important;
}
.form{
  padding-top: 2rem;
  padding-bottom: 20px;

}
.form label{
  text-align: left !important;
  color: black;
  font-weight: bolder;
}
.form input{
text-align: center;
border-radius: 5px;
}
.form select{
 width: 170px;
 text-align: center;
 border-radius: 5px;
  }
.btn{
  border-radius: 10px;
  border: solid 1px #252a36;
  background-color: transparent;
  width: 5rem;
}
h2{
  font-weight: bold;
  color: black;
}
h4{
  font-weight: lighter;
  color: gray;
}
h5{
  padding-top: -2px;
}
/*.card{
  background-color: #1e222b;
  width: 100px;
  height: 160px;
  border-radius: 10px;
  color: white;
  float:left;
}*/
.searchBar input{
  width: 230px;
  border-radius: 15px;
}
.searchbtn{
  width: 80px !important;
  background-color: transparent;
  color: black;
  font-weight: bolder;
}
.btn{
  background-color: transparent;
  color: black;
  font-weight: bolder;
  width: 100px;
}